

.head{
	padding: 20px 2%;
}


.logo h2{
	font-size: 30px;
}


.body{
	height: 450px;
}


.conteudo{
	padding: 150px 2%;
}

.conteudo h3{
	color: rgba(255,255,255,.6);
}

.conteudo input[type=submit]{
	background-color: #dc572e;
}

.sobre{
	padding: 50px 2%;
}

.conteudo-sobre{
	padding-top: 15px;
}

.conteudo-sobre p{
	color: #656565;
}

.imagem{
	width: 70%;
	max-width: 700px;
	padding: 100px 0;
}

.mais-detalhes img.img{
	width: 100%;
	max-width: 1200px;
	margin: 20px 2% 0 0;
	position: relative;
	top: 70px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	border-radius: 10px;
}

.titulo-detalhes{
	padding-top: 120px;
}


.conteudo-detalhes{
	color: rgba(255,255,255,.8);
}

.conteudo-detalhes a:hover{
	text-decoration: none;
}

.conteudo-detalhes input[type=submit]{
	color: #af1641;
	background-color: white;
	margin-bottom: 40px;
}

.diferenciais > .container{
	max-width: 1800px;
	margin: 0 auto;
}

.diferenciais-wraper{
	padding: 40px 2%;
}


.box-wraper{
	padding:40px 2%;
	margin-right: 10px;
}


.box-wraper p{
	border: 1px solid #ccc;
	border-radius: 8px;
	color: #656565;
	line-height: 180%;
	font-size: 11pt;
	font-weight: 300;
	padding: 30px 0;
}

.footer{
	padding: 50px 0;
}

.footer p{
	margin-top: 8px;
	font-weight: 300;
	font-size: 1em;
	color: rgba(255,255,255,0.5);
}

.footer a{
	text-decoration: none;
}






